:root {
  --color-bg-default: #FDF2EE !important;
  --color-text-default: #327447 !important;
  --color-text-default-light: hsl(139 40% 43% / 1) !important
  --color-text-gray: hsl(139 40% 43% / 1) !important
  --color-border-default: rgba(255,255,255,0.25) !important;
}
