:root {
  --color-bg-default: #FCF6F3 !important;
  --color-text-default: #181412 !important;
  --color-text-default-light: #787370 !important;
  --color-text-gray: #787370 !important;
  --color-border-default: #181412 !important;
}

.notion-semantic-string .link {
  opacity: 1 !important;
}
