/* Brutal */
:root {
  --font-family-primary: 'Spectral', serif !important;
  --primary-font: 'Spectral', serif !important;
  --font-family-secondary: 'Yatra One', cursive  !important;
  --secondary-font: 'Yatra One', cursive  !important;
  --font-family-tertiary:  'Archivo Black', sans-serif !important;
  --tertiary-font: 'Archivo Black', sans-serif !important;
}
