/* Brutal */
:root {
  --font-family-primary: 'Spectral', serif !important;
  --primary-font: 'Spectral', serif !important;
  --font-family-secondary: 'Spectral', serif !important;
  --secondary-font: 'Spectral', serif !important;
  --font-family-tertiary:  'Yatra One', cursive !important;
  --tertiary-font: 'Yatra One', cursive !important;
}
