:root {
  --font-family-primary: 'Trirong', serif !important;
  --primary-font: 'Trirong', serif !important;
  --font-family-secondary: 'Michroma', sans-serif !important;
  --secondary-font: 'Michroma', sans-serif  !important;
  --font-family-tertiary:  'Alike Angular', serif !important;
  --tertiary-font: 'Alike Angular', serif !important;
}

